To: @ViewBag.To
From: @ViewBag.From
Reply-To: @ViewBag.ReplySubject
Subject: @ViewBag.Subject
Content-Type: text/html; charset=utf-8

@* comment *@
<html>
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Subject</title>

    <link rel="stylesheet" type="text/css" href="/Content/email.css">
</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

    <!-- HEADER -->
    @*<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" align="">
			
			<!-- /content -->
			<div class="content">
				<table bgcolor="#999999" >
					<tr>
						<td><img src="http://placehold.it/200x50/" /></td>
						<td align="right"><h6 class="collapse">Newsletter</h6></td>
					</tr>
				</table>
			</div><!-- /content -->
			
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->*@

    <!-- BODY -->
    <table class="body-wrap" bgcolor="">
        <tr>
            <td></td>
            <td class="container" align="" bgcolor="#FFFFFF">

                <!-- content -->
                <div class="content">

                    <table bgcolor="">
                        <tr>
                            <td>
                                <h1>@ViewBag.FirstName @ViewBag.LastName</h1>
                                <h4>Title: @ViewBag.Title</h4>
                                <h4>Company: @ViewBag.Company</h4>
                                <h4>Email: @ViewBag.ContactEmail</h4>
                                <h4>Phone Number: @ViewBag.PhoneNumber</h4>
                                <h4>Address: @ViewBag.Address</h4>
                                <h4>Profile Score: @for (int i = 0; i < @ViewBag.ProfileScore; i++)
                                                   {
                                    <img src="/images/fire-s.png" />
                                                   }
                                </h4>
                                <h4>Engagement Score: @for (int i = 0; i < @ViewBag.EngagementScore; i++)
                                                      {
                                    <img src="~/images/star-s.png" />
                                                      }
                                </h4>
                                <a class="btn">See full profile</a>
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- /content -->

                <!-- content -->
                <div class="content">
                    <table bgcolor="">
                        <tr>
                            <td>
                                <h4>Recent Eloqua Activities <a href="/activities/@ViewBag.EloquaUserID"><small><i>See all activities</i></small></a></h4>
                                <ul>
                                    @foreach (dynamic activity in Model.Activities)
                                    {
                                        <li class="@activity.ActivityType.ToString()">@activity.ActivityType.ToString() <i><small>@activity.TimeStamp</small></i></li>        
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

                <!-- content -->
                <div class="content">
                    <table bgcolor="">
                        <tr>
                            <td>
                                <h4>Recent External Activities <a href="/activities/@ViewBag.EloquaUserID"><small><i>See all external activities</i></small></a></h4>
                                <ul>
                                    @foreach (dynamic activity in Model.Activities)
                                    {
                                        <li class="@activity.ActivityType.ToString()">@activity.ActivityType.ToString() <i><small>@activity.TimeStamp</small></i></li>        
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

                @*                <!-- content -->
                <div class="content"><table bgcolor="">
                                         <tr>
                                             <td>
						
                                                 <!-- Callout Panel -->
                                                 <p class="callout">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#">Do it Now! &raquo;</a>	</p><!-- /callout panel -->
						
                                             </td>
                                         </tr>
                                     </table></div><!-- /content -->
			
                <!-- content -->
                <!-- content -->
                <div class="content"><table bgcolor="">
                                         <tr>
                                             <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
                                             <td>
                                                 <h4>Title Ipsum <small>This is a note.</small></h4>
                                                 <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                 <a class="btn">Clickity Click &raquo;</a>
				
                                             </td>
                                         </tr>
                                     </table></div><!-- /content -->*@

                <!-- content -->
                <div class="content">
                    <table bgcolor="">
                        <tr>
                            <td>
                                <!-- social & contact -->
                                <table bgcolor="" class="social" width="100%">
                                    <tr>
                                        <td>
                                            <!--- column 1 -->
                                            <div class="column">
                                                <table bgcolor="" cellpadding="" align="left">
                                                    <tr>
                                                        <td>
                                                            <h5 class="">Actions:</h5>
                                                            <p class="">
                                                                <a href="#" class="soc-btn fb">Subscribe to Notifications</a> 
                                                                <a href="#" class="soc-btn tw">Send Contact Engage Email</a> 
                                                                <a href="#" class="soc-btn gp">Add Contact to Campaign</a>
                                                                <a href="#" class="soc-btn fb">Subscribe to Notifications</a> 
                                                                <a href="#" class="soc-btn tw">Send Contact Engage Email</a> 
                                                                <a href="#" class="soc-btn gp">Add Contact to Campaign</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- /column 1 -->
                                            </div>

                                            <div class="clear"></div>

                                        </td>
                                    </tr>
                                </table>
                                <!-- /social & contact -->

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->


            </td>
            <td></td>
        </tr>
    </table>
    <!-- /BODY -->

    <!-- FOOTER -->
    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">

                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="#">Terms</a> |
                                   
                                    <a href="#">Privacy</a> |
                                   
                                    <a href="#">
                                        <unsubscribe>Unsubscribe</unsubscribe>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td></td>
        </tr>
    </table>
    <!-- /FOOTER -->

</body>
</html>
